* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  color: #1f1e27;
}

.slider {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.slide {
  scroll-snap-align: start;
  min-height: 100vh;
  padding: 5vh 4vw;
  color: rgb(36, 36, 44);
}

.slide h2 {
  text-align: center;
  font-size: clamp(1.5rem, 4vw, 3rem);
  letter-spacing: 0.02em;
  margin-bottom: 1em;
}

.slide p {
  max-width: 60ch;
  font-size: clamp(1rem, 2vw, 1.5rem);
  line-height: 1.65;
  letter-spacing: 0.005em;
}

.slide small {
  margin-top: 1rem;
  display: block;
}

.slide .playground {
  margin-top: 5vh;
  background: #ffffff38;
  padding: 1rem;
  padding-bottom: 4rem;
  border-radius: 0.5rem;
  position: relative;
  box-shadow: 4px 4px 10px rgba(10, 10, 10, 0.09);
  resize: horizontal;
  overflow-x: auto;
}

.slide .playground input {
  margin-top: 1rem;
  font-size: clamp(1rem, 2vw, 1.5rem);
  padding-left: 0.3em;
  display: block;
  border-radius: 0.15em;
  border: none;
  box-shadow: 0 0 2px rgba(0,0,0,0.8);
}

.slide .playground h4 {
  margin-top: 2rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}

.slide--init {
  background: #4ecdc4;
}
